.favorite-wrapper {
  width: 50%;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.favorite-wrapper__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tools__button {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-items__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}

.favorite-items__list p {
  border: 1px solid gray;
  width: 100%;
  text-align: left;
  padding: 6px; 
  margin: 0;
  border-radius: 4px; 
}
