.list-characters-wrapper {
  display: grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-self: center;
  padding: 20px;
}

.person-wrapper {
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 8px;
}

.loading-container {
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 20px;
}
