.list-characters-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
  gap: 8px;
  border: 1px solid grey;
  border-radius: 8px;
}

.person-wrapper {
  cursor: pointer;
  border: 1px solid grey;
  padding: 0;
  width: 30%;
  border-radius: 8px;
}

.loading-container {
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 40%;
  padding: 20px;
}
