.list-people-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid grey;
  border-radius: 8px;
  justify-content: center;
  align-self: center;
  padding: 20px;
  width: 50%;
}

.list-characters-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.person-wrapper {
  cursor: pointer;
  border: 1px solid grey;
  padding: 10px 10px;
  width: 30%;
  height: 15%;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
}

.person-wrapper input {
  width: 10%;
}

.loading-container {
  font-weight: bold;
  padding: 20px;
}

a {
  height: auto;
  color: white;
  font-size: 14px;
}

a:hover {
  color: gray;
}

a.active {
  color: #535bf2;
}

a.pending {
  opacity: 0.3;
}
